body {
  background: #F5EFE6; /* Lightest Green */
  color: #1A4D2E; /* Dark Green */
}

.container {
  border: 0.5px solid #1A4D2E; /* Dark Green */
  border-radius: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 1px;
  height: fit-content;
  background: #4F6F52; /* Medium Green */
  color: #F5EFE6; /* Lightest Green */
}
p{
  padding: 2px;
}
#Here {
  border: 2px dotted #1A4D2E; /* Dark Green */
  width: 20%;
  border-radius: 50%;
  margin: auto;
  font-family: 'The Girl Next Door', sans-serif;
  text-decoration: none;
  font-style: italic;
  background: #E8DFC7; /* Light Green */
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px grey;
  box-shadow: 2px gray;
  padding: 23px;
  text-align: center;
  color: #1A4D2E; /* Dark Green */
}

#other {
  border: 1px solid #1A4D2E; /* Dark Green */
  font-family: 'The Girl Next Door', sans-serif;
  border-radius: 50px;
  text-decoration: none;
  font-style: italic;
  background: #E8DFC7; /* Light Green */
  font-weight: bold;
  font-size: 1.2em;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px grey;
  padding: 23px;
  text-align: center;
  color: #1A4D2E; /* Dark Green */
}

.navbar {
  border: 1px solid #1A4D2E; /* Dark Green */
  overflow: hidden;
  background: #E8DFC7; /* Light Green */
  border-radius: 50px;
}

.navbar a {
  float: left;
  display: block;
  color: #1A4D2E; /* Dark Green */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid #4F6F52; /* Medium Green */
}

.navbar a.active {
  border-bottom: 3px solid #4F6F52; /* Medium Green */
}

#nav {
  padding-top: 16px;
  padding-bottom: 16px;
}

#text {
  font-family: 'The Girl Next Door', sans-serif;
  border-radius: 150px;
  background: #E8DFC7; /* Light Green */
  font-size: 25px;
  border: 2px dotted #1A4D2E; /* Dark Green */
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
  color: #1A4D2E; /* Dark Green */
}

.one {
  margin-left: -24em;
  text-align: center;
  display: block;
}

.img2 {
  border: 2px solid #1A4D2E; /* Dark Green */
  width: 400px;
  height: 300px;
  border-radius: 50%;
  margin-left: 330px;
}

#footer {
  border: 1px solid #1A4D2E; /* Dark Green */
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  background: #4F6F52; /* Medium Green */
  font-size: 14px;
  height: 28px;
  font-family: 'Lora', serif;
  color: #F5EFE6; /* Lightest Green */
}
