body{
	background: black;
}

#text{
	background: #BDC3C7;
	text-align: center;
	/* font-family: The Girl Next Door; */
	font-size: 1.2em;
	font-weight: bold;
	font-style: oblique;
	border-radius: 50px;
	margin: auto;
}


.container{
	
	width: fit-content;
	border-radius: 50px;
	background: whitesmoke;
	
}


.heading{
  margin: auto;
}

.link {
	text-decoration: none;
	color: #EE4B2B;
}
.link:hover {
	text-decoration: underline;
	color: black;
	
}
.link:visited {
	color: green;
}
.heading {
     font-family: Lora;
	   border-bottom-style: solid; 
	   border-top-style: hidden;
	   border-left-style: hidden;
	   border-right-style: hidden;
	   border-color: rgb(255, 0, 0);
	   width: fit-content;
	   letter-spacing: 1px;
     text-emphasis-style: none;

}
.crowd {
     font-family: Lora;
	   margin-left: 33em;
	   border-bottom-style: solid; 
	   border-top-style: hidden;
	   border-left-style: hidden;
	   border-right-style: hidden;
	   border-color: red;
	   width: fit-content;
	   letter-spacing: 1px;
}

